@media screen and (max-width: 640px) {
	#topbar{width:15%;top:0;position:fixed;z-index:999;border-radius: 0px 0px 7px;}
	#topbar:before{content:none;}
	#topbar{background:rgba(34,34,34,1) !important;}
	#supportbar{width:33%!important;}
	#topbar #logo{
		    background: url(https://www.nationsglory.fr/theme/site/img/logo.png);
    position: absolute;
    margin-left: 4rem;
    top: 9px;
    background-size: 100%;
    width: 50%;
    height: 31px;}


	.footer{display:none;}
	.ham{cursor:pointer;transition:right .3s,box-shadow .3s;display:block;padding:5px 10px;color:#EEE;background:#333;line-height:22px;box-shadow:0 2px 0 1px #191919;border-radius:3px;width:20px;text-align:center;position: absolute;top:9px;left:8px;}
	.ham .fa{font-size:18px;transition:all .3s;}
	.ham:active,.ham.active{box-shadow:none;top:9px;}
	.ham:active .fa:before,.ham.active .fa:before{content:"\f00d";}
	.ham:active .fa,.ham.active .fa{-webkit-transform:rotate(90deg);}
	#mobilemember{display: block!important;max-width:90%;height:180px;margin:10px 10px 10px 10px;padding: 10px 10px 20px 10px;    background: #f3f3f3;    border-radius: 2px!important;}
	#mobilemember .button{float:right!important;}
	#hero{display:none;}
	.navbar-nav{    transition: top .5s;
    position: fixed;
    z-index: 998;
    top: -20px;
    height: 100%;
    display: none;
    width: 55%;
    bottom: 50px;
    left: 0;
    background: #333;}
    .navbar-nav.navbar-dark.ml-auto.active{display:block;}
	#topbar.active{left:55%;}
	#topbar.small #logo, #topbar.force-small #logo {background-color: transparent;}
	.navbar-nav li, .navbar-nav li>a{text-shadow:none;margin:0 !important;width:100%;height:50px;background:#333;float:none;}
	.navbar-nav li>a{padding:0 5%;width:95%;}
	.navbar-nav li>a:after{content:none;}
	.navbar-nav li{border-top:1px solid #222;line-height:45px;}
	.navbar-nav>li .submenu{display:block;top:0;right:0;background:none;}
	.navbar-nav>li .submenu li{float:left;width:auto;line-height:45px;border:none;}
	.navbar-nav>li .submenu li a{font-size:12px;width:auto;padding:0 5px 0 5px;text-align: right;line-height:45px;}
	#topbar{transition:top .5s,  box-shadow .8s;}
	#topbar .wrap{position: relative;height:50px;width:100%;}
	#radio{width: calc(100% - 50px); background: transparent;margin: 5px;position: absolute;}
	#radio #radioinfo .radiotitle {width:70%;}
	#radio #radioinfo #volume {width:70%;}
	.post_content img{max-width: 100% !important;height: auto !important;}
	.wrap{margin:0 auto;width:100%;max-width: 100%;min-width: 100%;}
	.tricol, .quacol{float:none;width:96%;padding:0 2% 2% 2%;width:95% !important;}
	.footer .tricol{padding-bottom:5%;padding-top:2%;}
	.footer .tricol h3{color:#999;}
	.footer #copy{padding:0 2%;}
	.tricol.notation{width:100%;margin-right:0px;}
	.tricol.banks{width:100%;margin-left:0px;}
	.container{background: white;width: 100%;padding-top: 50px;}
	.block{border-bottom: none;box-shadow:none;border:none;margin-top: -10px;}
	.dropdown-menu{background: #131313;width: 55%;z-index:9999999; min-width: 100%;box-shadow:none;}
	.dropdown-menu a{color:white;}
	.wikicontent{width:100%;}
	.cardyt{width:100%!important;margin-bottom:10px!important;}
	.wikisidebar{width:100%;}
	article h3 span{display: block;float:none;}
	article a:hover{text-decoration: none !important}
	#showcase {display:none;position: relative;z-index: 1;box-shadow: 0px 5px 7px -5px rgba(0, 0, 0, 0.25);height: 110px;}
	#showcase .tricol:hover img{bottom:-50px;opacity: .7;}
	#showcase .tricol h3{top:15px;}
	#showcase .tricol ul{top:40px;}
	#supportbar{display:none;}
	#showcase .tricol.second h3{left:auto;right:10px;}
	#showcase .tricol.second ul{left:auto;right:15px;text-align:right;}
	#showcase .tricol.second img{right:auto;left:10px;}
	#hero{height:50px;}
	.jouer{display:none;}
	.comment table td img{margin:0 15px 0 0;width:25px;height:25px;}
	.comment table td{padding:0 0 15px 0;}
	.postimg{height:50px !important;width:50px !important;}
	.sidebar{display: none !important;}
	.doublecol{width: calc(100% - 20px)!important;margin-left: 10px;}
	.mobilescroll{overflow: scroll;}
	.card{width:100%;margin-top:5px;}
	.tile{width:88%!important;}
	.partnerbox{width: 43%!important;}
	.fancybox{
		 width: 100%;
	}
}